<div class="row">
	<div class="col-md-6 offset-3 alert alert-danger text-center" style="margin-top:50px;">
		<h2>Nuk keni qasje në këtë faqe</h2>
		<p>Ju lutem, klikoni butonin më poshtë të ktheheni prapa në faqen kryesore.</p>
		<hr />
		<p>
			<a asp-controller="Home" asp-action="Index"  class="btn btn-outline-success">Home Page</a>
		</p>
</div>
</div>