
@{
    ViewData["Title"] = "Dr. Fahri Hasani";
}


<div class="bg-image" 
     style="background-image: url('../images/fotojaEgjere.jpg');
            height: 60vh;">
       <div class="col-md-6 col-sm-8 col-12 text-center float-right " style="display:flex;  margin-top:12%; margin-right:2%;" >
 <p style="color:white; font-size:clamp(30px,3vw,50px); font-family:'Times New Roman', Times, serif">Ambulanca Specialistike e Mushkërive Pulmo Ultramed <br/> Dr. Fahri Hasani </p>
 
     </div>
</div>
    


 
        
   




 <div class="col-md-5 " style="display: block;
  margin-left: auto;
  margin-right: auto;
margin-top:10%;

">
                        <img name="slide" width="100%" style=" border-radius: 25px; box-shadow: 15px 15px 5px #ccc;" >
 </div>



 
 <p class="text-center" style="display:flex;flex-direction:row;justify-content:center;margin-top:10%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.0420080761123!2d20.283791900163646!3d42.66046518657894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1352fc36886eb45b%3A0x34bd7e98ca11d04b!2sGeneral%20Wesley%20Clark%2C%20Pej%C3%AB!5e0!3m2!1sen!2s!4v1666706954470!5m2!1sen!2s" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
   <div  style="margin-top:100px;width:80%;margin-right:10%;margin-left:10%;  display:flex; flex-direction:row; flex-wrap:wrap;justify-content:space-around;">
     <div style="display:flex;">
         <p style=" color:#4c1a54;  font-size:clamp(30px,3vw,50px); font-family:Arial "><b>+383 49 416 531</b></p>
     </div>
     <div style="display:flex;flex-direction:row;justify-content:space-evenly; align-items:center;margin-bottom:30px; width:160px;padding-left:15px; ">
         <a href="https://www.facebook.com/people/Ambulanca-e-Mushk%C3%ABrive-Pulmo-Ultramed-DrFahri-Hasani/100086228600067/"><img style="width:50px;height:50px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png" /></a>
              <a href="https://mail.yahoo.com/d/compose/7060659850"><img src="https://www.freepnglogos.com/uploads/yahoo-logo-png/yahoo-logo-png-y-logo-yahoo-social-media-icons-2.png" style="width:50px;height:50px;"/></a>
     </div>
 </div>


    @section Scripts{
    <script>
    var i = 0;
var images = [];
var time = 3000;

images [0] = '../images/ordinanca.jpg';
images [1] = '../images/lokacioni.png';


function changeImage(){
    document.slide.src = images[i];
    if(i<images.length-1){
        i++;
    }else{
        i=0;
    }
    setTimeout("changeImage()",time);
}

window.onload = changeImage;
    </script>
    
    
    }