@{
    ViewData["Title"] = "Rreth Nesh";
}

<div style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap; margin-top:10%;">
    <div>
        <img  style="max-width:300px; min-width:250px; margin-top:50px;  border-radius: 50%;" src="~/images/dr.png"/>
    </div>
    <div class=""style="width:65%;height:auto;display:flex;flex-direction:column;flex-wrap:wrap; margin-top:10%;">
        <p style="padding-bottom:35px; font-size:clamp(30px,3vw,50px); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Kush është Dr. Fahri Hasani?</p>
        <p >Dr.Fahri Hasani Pulmolog-Specialist  i Sëmundjeve  të Mushkërive.I diplomuar në Universitetin e Prishtinës-Fakulteti i Mjekësisë dhe specializuar në lëmin e  Pulmologjisë.Aktualisht punon në Spitalin e Përgjithshëm
-Pejë,Reparti për Sëmundje të Mushkërive,Shef i të cilës është edhe vet doktori.
Eshtë pjesëmarrës në shumë kongrese e konferenca mjekësore brenda dhe jashtë vendit! Është me përvoj pune <b>30</b> vjeqare!Dr.Fahri Hasani poashtu është pronar i Ambulancës Specialistike të Mushkërive-Pulmo Ultramed. Ambulanca e cila me lokacion gjendet në rrugën “Nëna Terezë” në afërsi të Spitalit të Pergjithshëm
Pejë!Ofron shërbime çdo ditë nga dita e Hënë deri në ditën e Premte nga ora <b>15:30-19:00 </b> dhe ditën e Shtunë <b>12:00-15:00</b>. Për më shumë informata ju mund të kontaktoni edhe numrin kontaktues <b>+38349416531</b> .Jeni të mirëseardhur!</p>
    </div>
</div>