<div class="row">
	<div class="col-md-6 offset-3" style="margin-top:50px;">
		<h1 class="text-info">Nuk u gjet asgjë</h1>
		<hr/>
		<a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Home Page</a>

	</div>
	
</div>