@using pulmoultramed.Data.ViewComponents

@model NewRasteVM

@{
    ViewData["Title"] = "Krijo nje rast te ri";


}



<div class="row">
 <div class="col-md-4 col-9 offset-1" style="margin: auto; margin-top:50px;padding: 10px;">
        
        <p style="margin-top:20px; padding-top:20px;">
            <h4>Krijo nje rast te ri</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Emri" class="control-label"></label>
                                <input asp-for="Emri" class="form-control" />
                                <span asp-validation-for="Emri" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="Pershkrimi" class="control-label"></label>
                                <textarea asp-for="Pershkrimi" class="form-control"></textarea>
                                <span asp-validation-for="Pershkrimi" class="text-danger"></span>
                            </div>
                        <div class="form-group">
                                <label asp-for="FotoUrl" class="control-label"></label>
                                <input asp-for="FotoUrl" class="form-control" />
                                <span asp-validation-for="FotoUrl" class="text-danger"></span>
                            </div>
                           
                         
                        </div>
                      
                       
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Shto" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Kthehu prapa</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{ 
    <script>
        $("#FotoUrl").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}